@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: #1b1b1b;
} */

body:after {
    background-image: url("https://files.facepunch.com/garry/1b1011b1/test.png?1=");
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
    opacity: .6;
}

h1,
h2,
h3, link {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

link{
    font-family: 'Bebas Neue', cursive;
}

.side-img{
    background-image: url('../images/bg.jpg');
}

.header{
    background-image: url('../images/background-image.jpg');
}

.container{
    @apply max-w-6xl m-auto;
}